/* CSS normalize part  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 12px;
  }
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  /* background: var(--primary-bg-color) !important; */
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button {
  cursor: pointer;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

._container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

._container_about {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.input-group .input {
  border-radius: 100px;
  background-color: transparent;
  width: 811px;
  border: 1px solid rgba(245, 239, 219, 0.5);
  height: 52px;
  outline: none;
}
.input-group ::-moz-placeholder {
  padding: 10px 20px;
}
.input-group ::placeholder {
  padding: 10px 20px;
}
.input-group .btn {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  line-height: 175%;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 12px 32px;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select,
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: calc(var(--bs-border-width) * -1);
  border-top-left-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
}

.btn-cssbuttons {
  --btn-color: #275efe;
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
  transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
  padding-right: 7px;
}

.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn-cssbuttons ul li {
  flex: 1;
}

.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}

.btn-cssbuttons:hover::before {
  transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}

.btn_ct {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #bb2339;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 40px !important;
  cursor: pointer;
  font-weight: bold;
}

.btn_ct:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
}

.btn_ct span {
  position: absolute;
}

.btn_ct span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
}

.btn_ct:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.btn_ct span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
}

.btn_ct:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.btn_ct span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
}

.btn_ct:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.btn_ct span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
}

.btn_ct:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.btn_ct:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: black;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}

.btn_ct:active span:nth-child(1) span:nth-child(2) span:nth-child(2) span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

.slick-dots li.slick-active button:before {
  width: 50px;
}

.popular__slick__item {
  display: flex;
  justify-content: space-between;
}

.slick-slide {
  padding: 0 10px;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  background-color: black !important;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: #bb2339 !important;
}

#second__backround .popular .popular__slick__item {
  position: relative;
}

.stars1 input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.stars1 label {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 6px;
  height: 20px;
  width: 20px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='transparent' stroke='gold' stroke-width='38' d='M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  font-size: 0;
  cursor: pointer;
}

.stars1 input:nth-child(1):checked ~ label:nth-of-type(-n + 1),
.stars1 input:nth-child(2):checked ~ label:nth-of-type(-n + 2),
.stars1 input:nth-child(3):checked ~ label:nth-of-type(-n + 3),
.stars1 input:nth-child(4):checked ~ label:nth-of-type(-n + 4),
.stars1 input:nth-child(5):checked ~ label:nth-of-type(-n + 5) {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='gold' stroke='gold' stroke-width='38' d='M259.216 29.942L330.27 173.92l158.89 23.087L374.185 309.08l27.145 158.23-142.114-74.698-142.112 74.698 27.146-158.23L29.274 197.007l158.89-23.088z' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.accordion-custom .accordion-button::after {
  background-image: url("../images/plus.svg");
}
.accordion-custom .accordion-button:not(.collapsed)::after {
  background-image: url("../images/minus.svg");
}

:root {
  --progress-bar-width: 200px;
  --progress-bar-height: 200px;
  --font-size: 2rem;
}

.circular-progress {
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  position: absolute;
  width: calc(var(--progress-bar-width) - 30px);
  height: calc(var(--progress-bar-height) - 30px);
  border-radius: 50%;
  background-color: lightgrey;
}

.percentage {
  position: relative;
  font-size: var(--font-size);
  color: rgba(0, 0, 0, 0.8);
}

.ap-tab-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ap-tab-link {
  padding: 8px 25px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  border: 1px solid #bb2339;
  border-radius: 100px;
  color: #242424;
  text-decoration: none;
}

.ap-tab-link.active-tab {
  transition: 0.5s;
  color: #ffffff;
  background: #bb2339;
  border: 1px solid #bb2339;
  border-radius: 100px;
}

ol,
ul {
  padding-left: 0px !important;
}

.ap__list__custom {
  padding: 70px 0 60px;
}

.card__row__custom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 20px;
}
.card__row__custom .card {
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
}
.card__row__custom .card img {
  width: 100%;
  padding: 20px 0 10px;
}
.card__row__custom .card h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 25px;
  text-align: center;
  color: #242424;
}
.card__row__custom .card h3 {
  padding: 30px 0 40px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 33px;
  text-align: center;
  color: #bb2339;
}

#video {
  background-image: url(../../assets/image/Video.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}
#video .icon {
  text-align: center;
  padding: 322px 0;
}
#video .icon i {
  font-size: 120px;
  transition: 0.3s;
  color: white;
}
#video .icon i:hover {
  color: red;
  cursor: pointer;
}
#video .btn-primary {
  background-color: transparent !important;
  border: transparent !important;
}

.modal-dialog {
  max-width: 800px !important;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 20px;
  padding: 40px 0 15px;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 345px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::-moz-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:-moz-placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #116399, #38caef);
     border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

textarea {
  margin-bottom: 18px !important;
  width: 86% !important;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none !important;
}

textarea:active {
  border: 2px solid red;
}

.apps {
  padding: 66px 0 0;
  padding-bottom: 100px;
}

.appcustomer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 35px;
  background-color: #bb2339;
  border-radius: 20px;
}
.appcustomer h1 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0em;
  color: white;
  line-height: 54px;
}

.menu_row_custom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 52px 32px;
}

.menus_links {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: white;
  padding: 10px 30px;
  line-height: 175%;
  border: 1px solid #ffffff;
  border-radius: 100px;
}

.menus_links.active-tab {
  color: #242424;
  border: 1px solid #ffffff;
  background: #ffffff;
}

.app__row__custom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 32px;
}

.icon img {
  width: 100%;
}

.maxs {
  --bg: #f7f7f8;
  --hover-bg: #ffe5f4;
  --hover-text: #e50087;
  max-width: 100%;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card__body {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
}

.maxs > :not(span) {
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.maxs > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -0.035em;
}

.maxs span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.maxs:hover span {
  top: 0;
  font-size: 1.2em;
}

.maxs:hover {
  background: #bb2339;
}

.maxs:hover > div,
.maxs:hover > strong {
  opacity: 0;
}

@media (min-width: 992px) {
  .appcustomer {
    padding-left: 40px !important;
  }
}
@keyframes ldio-ovl8npahfqk {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55);
  }
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9);
  }
  100% {
    transform: translate(0, 0);
  }
}
.ldio-ovl8npahfqk div {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #e15b64;
  left: 74px;
  top: 20px;
  animation: ldio-ovl8npahfqk 1s linear infinite;
}

.loadingio-spinner-ball-xxrrpbq2tw {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-ovl8npahfqk {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.backround {
  background-color: #bb2339;
}
.backround .header__nav {
  background-color: #bb2339;
  transition: 0.5s;
  padding: 26px 0;
}
.backround .header__nav .header__menus .menus__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  line-height: 22px;
  text-decoration: none;
}
.backround .header__nav .header__menus .menus__link:not(:last-child) {
  margin-right: 40px;
}
.backround .header__nav .header__menus .btn {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  padding: 10px 40px;
  line-height: 175%;
  border-radius: 100px;
  border: 1px solid #ffffff;
}

@media (max-width: 712px) {
  .menus__link {
    display: none;
  }
}
.backround .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 180px 0 237px;
}
.backround .top .top__left h2 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.43rem;
  letter-spacing: 0.04em;
  color: white;
  line-height: 130%;
  text-transform: capitalize;
}
.backround .top .top__left h1 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 5.6rem;
  letter-spacing: 0.04em;
  color: white;
  padding: 8px 0 20px;
  max-width: 555px;
  line-height: 130%;
  text-transform: capitalize;
}
.backround .top .top__left p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  padding-bottom: 40px;
  max-width: 453px;
  line-height: 175%;
  opacity: 0.7;
}
.backround .top .top__left #top_btn {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  padding: 8px 32px;
  line-height: 175%;
  border-radius: 100px;
  border: 1px solid #ffffff;
  outline: none;
  background-color: #bb2339;
}
.backround .top .top__right img {
  transform: translateX(120px);
  width: 100%;
}

@media (max-width: 1072px) {
  .backround .top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    text-align: center;
  }
  .backround .top .top__left h1 {
    max-width: 100%;
    margin: 0 auto;
  }
  .backround .top .top__left p {
    max-width: 100%;
    margin: 0 auto;
  }
  .backround .top .top__right img {
    transform: translateX(65px);
  }
}
@media (max-width: 500px) {
  .backround .top .top__right img {
    transform: translateX(22px);
  }
}
#second__backround {
  background-color: #f8f8f8;
}
#second__backround .popular {
  position: relative;
}
#second__backround .popular .ps {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(45px);
}
#second__backround .popular .popular__title {
  padding-top: 120px;
}
#second__backround .popular .popular__title h1 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 0.03em;
  color: #bb2339;
  line-height: 48px;
  text-transform: capitalize;
}
#second__backround .popular .popular__slick__item {
  padding: 40px 0 120px !important;
}
#second__backround .popular .popular__slick__item .slick__slider__card {
  border-radius: 14px;
  background-color: white;
}
#second__backround .popular .popular__slick__item .slick__slider__card img {
  padding-top: 20px;
  width: 100%;
}
#second__backround .popular .popular__slick__item .slick__slider__card h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0em;
  color: #242424;
  padding: 10px 0 20px;
  line-height: 25px;
}
#second__backround .popular .popular__slick__item .slick__slider__card h4 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.04em;
  color: #bb2339;
  padding: 20px 0 40px;
}

@media (max-width: 1115px) {
  .ap__list__custom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 20px;
  }
}
@media (max-width: 700px) {
  #second_backround .popular .popular__title {
    text-align: center;
  }
  .ap__list__custom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-gap: 20px;
  }
}
.menu {
  padding: 120px 0;
}

.customer {
  position: relative;
  padding: 100px 0 170px;
}
.customer .ps2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(45px);
}
.customer .customer__title {
  padding-bottom: 60px;
}
.customer .customer__box .customer__card {
  padding: 30px 50px 30px 20px;
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  background: #ffffff;
}
.customer .customer__box .customer__card h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.04em;
  color: #333333;
  line-height: 26px;
}
.customer .customer__box .customer__card p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  color: #333333;
  padding: 10px 0;
  line-height: 22px;
}
.customer .customer__box .customer__card .customer_info i {
  margin-left: 10px;
}
.customer .customer__box .customer__card .customer_info span {
  font-size: 12px;
  font-family: "Roboto";
  color: #333333;
}

@media (max-width: 850px) {
  .card__row__custom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .card__row__custom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-gap: 20px;
  }
}
@media (max-width: 450px) {
  .ap__list__custom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card__row__custom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    grid-gap: 20px;
  }
}
.news {
  padding: 120px 0;
}
.news .news__title h2 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.43rem;
  letter-spacing: 0.04em;
  color: #242424;
  line-height: 130%;
}
.news .news__title h1 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 0.03em;
  color: #bb2339;
  line-height: 130%;
}
.news .news__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.news .news__box .news__card {
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
}
.news .news__box .news__card img {
  width: 100%;
}
.news .news__box .news__card h2 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0;
  color: #242424;
  padding: 20px 58px 10px 20px;
  line-height: 32px;
  text-transform: capitalize;
}
.news .news__box .news__card p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0em;
  color: #aaaaaa;
  padding: 0 26px 20px 20px;
  line-height: 24px;
}
.news .news__box .news__card .bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 30px 20px;
}
.news .news__box .news__card .bottom .left a {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: #bb2339;
  line-height: 16px;
  text-decoration: none;
}
.news .news__box .news__card .bottom .right h5 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0em;
  color: #242424;
  opacity: 0.5;
  line-height: 19px;
}
.news .news_btn {
  padding: 50px 0 0;
}
.news .news_btn button {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: #242424;
  padding: 8px 32px;
  border-radius: 100px;
  border: 1px solid #bb2339;
  background-color: transparent;
}

@media (max-width: 750px) {
  .news .news__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .news .news__box .news__card:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  iframe {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .news .news__box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .news .news__box .news__card:last-child {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
#social_backround {
  background: #f4f4f4;
}
#social_backround .social {
  padding: 128px 0 130px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}
#social_backround .social .social__left h2 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.43rem;
  letter-spacing: 0.04em;
  color: #242424;
  line-height: 130%;
}
#social_backround .social .social__left h1 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 0.03em;
  color: #242424;
  line-height: 130%;
}
#social_backround .social .social__left p {
  max-width: 700px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: #aaaaaa;
  line-height: 175%;
}
#social_backround .social .social__left button {
  padding: 8px 32px;
  border: 1px solid #bb2339;
  background-color: transparent;
  border-radius: 100px;
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: #242424;
  line-height: 175%;
}
#social_backround .social .social__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 64px;
}
#social_backround .social .social__right .social_img {
  width: 100%;
  border-radius: 14px;
  transition: transform 0.2s;
  filter: blur(5px);
  transition: 1s;
}
#social_backround .social .social__right .social_img:hover {
  transform: scale(1.1);
  filter: blur(0px);
}

@media (max-width: 1000px) {
  #social_backround .social {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 64px;
  }
  .social__left {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .social__left p {
    padding-bottom: 30px;
  }
}
@media (max-width: 630px) {
  #social_backround .social .social__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  #social_backround .social .social__right img:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 500px) {
  #social_backround .social .social__right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  #social_backround .social .social__right img:last-child {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.letter {
  background-color: #bb2339;
  transform: translateY(50%);
  max-width: 1306px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
}
.letter .letter__title .letter_btn {
  padding-bottom: 64px;
}
.letter .letter__title h2 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.43rem;
  letter-spacing: 0.04em;
  color: white;
  padding: 64px 0 25px;
  line-height: 130%;
}
.letter .letter__title h1 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 0.03em;
  color: white;
  line-height: 130%;
}
.letter .letter__title h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  padding: 24px 0 64px;
  line-height: 175%;
}

footer {
  background-color: #bb2339;
  padding-top: 317px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
footer .footer .footer_left h1 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.04em;
  color: white;
  line-height: 130%;
}
footer .footer .footer_left h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  padding: 24px 0 10px;
  line-height: 26px;
}
footer .footer .footer_left .tel p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  line-height: 26px;
}
footer .footer .footer_middle p {
  padding: 32px 0 45px;
  max-width: 450px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  line-height: 26px;
}
footer .footer .footer_right h2 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.04em;
  color: white;
  padding-bottom: 24px;
  text-transform: capitalize;
  line-height: 130%;
}
footer .footer .footer_right p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  line-height: 26px;
}
footer .footer .footer_right h4 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  margin-top: 12px;
  line-height: 26px;
}
footer .footer .footer_right h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  margin-top: 12px;
  line-height: 26px;
}
footer .footer_title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: white;
  padding: 80px 0 40px;
  line-height: 175%;
  text-align: center;
}

@media (max-width: 977px) {
  footer .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  footer .footer .footer_middle p {
    max-width: 100%;
    margin: 0 auto;
  }
  footer .footer .footer_middle img {
    width: 50%;
    margin: 0 auto;
  }
}
.hamburger,
.close {
  display: none;
}

.close {
  position: absolute;
  top: 50px;
  height: 20px;
  background-color: transparent;
}

@media (max-width: 712px) {
  .close {
    display: block;
  }
  .hamburger {
    display: block;
    background-color: transparent;
    cursor: pointer;
  }
}
.news {
  padding-bottom: 60px !important;
}
.news .breadcrumb_custom {
  padding-top: 70px;
}
.news .breadcrumb_custom a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.03em;
  color: #b0b0b0;
}
.news .breadcrumb_custom .active {
  color: #bb2339;
}
.news .news__title {
  text-align: center;
}
.news .news__title h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 0.03em;
  color: #242424;
}

.news__card__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 35px;
}
.news__card__box .news__item {
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
}
.news__card__box .news__item img {
  width: 100%;
}
.news__card__box .news__item h2 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0;
  color: #242424;
  padding: 20px 58px 10px 20px;
  line-height: 32px;
  text-transform: capitalize;
}
.news__card__box .news__item p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0em;
  color: #aaaaaa;
  padding: 0 26px 20px 20px;
  line-height: 24px;
}
.news__card__box .news__item .bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 30px 20px;
}
.news__card__box .news__item .bottom .left a {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: #bb2339;
  line-height: 16px;
  text-decoration: none;
}
.news__card__box .news__item .bottom .right h5 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0em;
  color: #242424;
  opacity: 0.5;
  line-height: 19px;
}

.news_second_btn {
  padding: 70px 0 147px;
  text-align: center;
}
.news_second_btn button {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.04em;
  color: #242424;
  padding: 8px 32px;
  line-height: 175%;
  border-radius: 100px;
  border: 1px solid #bb2339;
  background-color: transparent;
}

@media (max-width: 800px) {
  .news__card__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .news__card__box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.about {
  text-align: center;
}
.about .about__title h1 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 0.03em;
  color: #242424;
  line-height: 130%;
  text-align: center;
}
.about .about__title .top_text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.04em;
  color: #242424;
  padding: 40px 0 30px;
  opacity: 0.8;
  text-align: justify;
  line-height: 32px;
}
.about .about__title .about_img {
  width: 100%;
}
.about .about__title .bottom_text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.04em;
  color: #242424;
  padding: 30px 0 0;
  opacity: 0.8;
  text-align: justify;
  line-height: 32px;
}

.about_breadcrumb {
  padding-top: 187px;
}
.about_breadcrumb a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.03em;
  color: #b0b0b0;
}
.about_breadcrumb .active {
  color: #bb2339 !important;
}

.menus_tab {
  display: grid;
  grid-template-columns: 33% 66%;
  grid-column-gap: 36px;
}
.menus_tab .apmenu_custom {
  background-color: #bb2339;
  background: #bb2339;
  border-radius: 20px;
}
.menus_tab .apmenu_custom .menus_apcustom {
  padding: 0 0;
}
.menus_tab .apmenu_custom .ap-tab-menu-list li {
  padding-bottom: 40px;
}
.menus_tab .apmenu_custom .ap-tab-menu-list li .link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: white;
  margin-left: 40px;
  padding: 10px 30px;
  line-height: 175%;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 100px;
}
.menus_tab .apmenu_custom .ap-tab-menu-list li .link .active_menus_tab {
  color: blue;
}
.menus_tab .apmenu_custom .ap-tab-menu-list .menus_main_title {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.04em;
  color: white;
  padding: 54px 0px 40px 40px;
  line-height: 54px;
}

.forms {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  padding-top: 40px;
}
.forms .form__left .infogramm:not(:last-child) {
  margin-bottom: 15px;
}
.forms .form__left .infogramm {
  display: flex;
  align-items: center;
  gap: 25px;
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
  padding: 25px 0 25px 20px;
}
.forms .form__left .infogramm:hover {
  background-color: #bb2339;
  color: white;
}
.forms .form__left .infogramm .icon i {
  padding: 18px;
  border-radius: 50%;
  background: rgba(36, 36, 36, 0.05);
  font-size: 24px;
}
.forms .form__left .infogramm .info .numtext {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.375rem;
  letter-spacing: 0em;
  color: #242424;
  line-height: 34px;
}
.forms .form__left .infogramm .info .num {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0em;
  color: #242424;
  line-height: 19px;
}
.forms .form__right {
  background: #ffffff;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
  padding-left: 40px;
}
.forms .form__right h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.375rem;
  letter-spacing: 0em;
  color: #242424;
  padding: 40px 0 16px;
  line-height: 34px;
}
.forms .form__right p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0em;
  color: #242424;
  max-width: 565px;
  opacity: 0.7;
  line-height: 24px;
}

.iframe__title h1 {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.375rem;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 110px 0 40px;
  line-height: 130%;
  text-align: center;
  text-transform: capitalize;
}
.iframe__title .maps {
  width: 100%;
}

body {
  background-color: #ffffff;
}

p {
  margin-bottom: 0 !important;
}

.navbar-shrink {
  padding: 10px 0 !important;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

body {
  position: relative;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

#backtop {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 9900;
  font-size: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: 1s;
}