$first-font: "Varela Round", sans-serif;
$second-font: "Inter", sans-serif;
$third-font: "Open Sans", sans-serif;
// ---------------------------------------

$primary-background: #bb2339;
$primary-color: #ffffff;
$second-color: #242424;
$text-color: #333333;
